/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'steinerregular';
    src: url('assets/fonts/steinerlight-webfont.woff2') format('woff2'),
         url('assets/fonts/steinerlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0 auto;
    height: 100%;
    font-family: steinerregular;
    color: white;
    font-size: 100%;
    font-weight: 100;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}
